addend.egg-info/dependency_links.txt
addend.egg-info/entry_points.txt
addend.egg-info/PKG-INFO
addend.egg-info/SOURCES.txt
addend.egg-info/top_level.txt
dist/addend-1.18-py3-none-any.whl
dist/addend-1.18.tar.gz
dist/addend-1.19-py3-none-any.whl
dist/addend-1.19.tar.gz
